<!DOCTYPE html>
<html>
<head>
	<title>AboutUs</title>
	<meta charset="UTF-8">

	<script src="/js/polyfill.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<script src="/js/jquery-3.6.4.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css" />

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>

</head>
<body class="about-background">
	<section class="about-title-message">
		<div class="about-top-content">
			<h1>About Us</h1>
			<h2>Life is short and the world is wide</h2>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
				into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
				passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of 
				the printing and typesetting industry.Lorem Ipsum has been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a
				type specimen book.standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it.
				
			</p>
		</div>
	


	</section>
	
	<section class="about-main">
		
		<div class="about-images">
			<img src="">
			<img src="/Images/about_picture_2.png" alt="Location 2">
			<img src="/Images/about_picture_3.png" alt="Location 3">
			<img src="/Images/about_picture_4.png" alt="Location 4">
		</div>
		<div class="about-bottom-content">
			<div>
				<h1>Wherever you want to go we'll help you get there!</h1>
				<h2>All great journeys begin with a dream!</h2>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
					when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
				</p>
				<button><span>Start your journey today</span></button>

			</div>
			
		</div>
	

	
	</section>
	
	<section class="about-social-section">
		<hr>
		<div class="about-social">
			<div class="about-social-element">
				<img src="/Images/social_icon_1.png" alt="Social_1">
				<p>Facebook</p>
				<p>/TravelingA</p>
			</div>
			<div class="about-social-element">
				<img src="/Images/social_icon_2.png" alt="Social_2">
				<p>Instagram</p>
				<p>/TravelingA</p>
			</div>
			<div class="about-social-element">
				<img src="/Images/social_icon_3.png" alt="Social_3">
				<p>LikedIn</p>
				<p>/TravelingA</p>
			</div>
			<div class="about-social-element">
				<img src="/Images/social_icon_4.png" alt="Social_4">
				<p>Pinterest</p>
				<p>/TravelingA</p>
			</div>
			<div class="about-social-element">
				<img src="/Images/social_icon_5.png" alt="Social_5">
				<p>Twitter</p>
				<p>/TravelingA</p>
			</div>
			<div class="about-social-element">
				<img src="/Images/social_icon_6.png" alt="Social_6">
				<p>YouTube</p>
				<p>/TravelingA</p>
			</div>
			<div class="about-social-element">
				<img src="/Images/social_icon_7.png" alt="Social_7">
				<p>Google+</p>
				<p>/TravelingA</p>
			</div>
		</div>
		<hr>
	</section>
	
</body>
</html>
