<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<meta charset="UTF-8">

	<script src="/js/polyfill.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<script src="/js/jquery-3.6.4.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css" />

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>

</head>


<body class="profile-background">
	<section class="profile-cover-section">
		<img src="/Images/cover_image.png" />
		
	</section>
	<div class="profile-user-details">
		<div class="user-profile-image">
			<img src="/Images/avatar_image_1.jpg" />
		</div>
		<div class="profile-user-name">
			<h1>Bobby Firmino</h1>
			<h2>&#64bobbyfirmino</h2>
		</div>
	
		<button class="" id="edit-button">EditProfile</button>
	</div>
	
	<section class="profile-main">
		<div class="profile-bio">
			<h1>Bio</h1>
			<hr>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
				into electronic typesetting, remaining.	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
				standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived 
				not only five centuries, but also the leap into electronic typesetting, remaining.

			</p>
		
		</div>
		
		<div class="visited-places">
			<h1>Visited Places</h1>
			<hr>
			<div class="image-list">
				<div class="main-img">
					<img src="/Images/tourist_destiantion_3.png" alt="visited 1">
				</div>
				<div class="secondary-img">
					<img src="/Images/tourist_destiantion_4.png" alt="visited 2">
					<img src="/Images/tourist_destiantion_5.png" alt="visited 3">
					<img src="/Images/tourist_destiantion_6.png" alt="visited 4">
					<img src="/Images/tourist_destiantion_7.png" alt="visited 5">
					<img src="/Images/tourist_destiantion_8.png" alt="visited 6">
					<img src="/Images/tourist_destiantion_9.png" alt="visited 7">
				</div>
				
			</div>
			
		</div>

	</section>

</body>
</html>





